<p>doit afficher le nom d'un seul jeu</p><br><br>



<!-- DEBUT présentation-->
<div id="presentation">

	<!-- DEBUT carrousel-->
	<div id="carrousel">
		<%= image_tag @a_game.image_url %><br><br>
	</div>
	<!-- FIN carrousel-->

	<!-- DEBUT infos principales-->
	<div id="infos_principales">

		
		<!-- DEBUT titre -->
		<div id="titre">
			<h1><%= @a_game.name %></h1><br>
		</div>
		<!-- FIN titre -->

		<!-- DEBUT note moyenne -->
		<div id="note_moyenne">

		</div>
		<!-- FIN note moyenne -->

		<!-- DEBUT pegi -->
		<div id="pegi">
			
		</div>
		<!-- FIN pegi -->

		<!-- DEBUT tags -->
		<div id="tags">
			
		</div>
		<!-- FIN tags -->

		<!-- DEBUT prix -->
		<div id="prix">
			
		</div>
		<!-- FIN prix -->

		<!-- DEBUT installer -->
		<div id="installer">
			
		</div>
		<!-- FIN installer -->

		
	</div>
	<!-- FIN infos principales-->

</div>
<!-- FIN présentation-->

